<div class="ui-s960">
    <ui-card class="elevate-on-toolbar">
        <div class="ui-progress" [class.hide]="!(loading && !searching)">
            <div class="indeterminate"></div>
        </div>
        <ui-toolbar class="flat">
            <span class="title" [ngClass]="{'hide': searchOpen}">Empréstimos recentes</span>
            <div class="align-right">
                <form #searchForm="ngForm" name="searchForm" class="ui-validate on-dirty"
                      [ngClass]="{'open': searchOpen}">
                    <ui-input-container>
                        <input #searchFormText="ngModel" type="text" name="searchText" [(ngModel)]="searchText"
                               uiMaxlength="200" uiInput [persistPlaceholder]="true" placeholder="Pesquisa"
                               (keyup)="search(searchFormText.value)">
                        <div class="ui-messages">
                            <div *ngIf="searchFormText.errors && searchFormText.dirty">
                                <div class="ui-message counter error">
                                    {{searchText ? searchText.length : 0}}/200
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                </form>
                <button class="ui-button flat icon search" uiRipple (click)="toggleSearch()">
                    <ui-progress-radial class="indeterminate" *ngIf="searching"></ui-progress-radial>
                    <i class="material-icons" [ngClass]="{'show': !searchOpen}">search</i>
                    <i class="material-icons" [ngClass]="{'show': searchOpen}">close</i>
                </button>
            </div>
        </ui-toolbar>
        <ui-data-table class="responsive">
            <tbody>
            <tr>
                <th uiDataTableOrderBy (click)="toggleOrderBy('livro')">
                    Livro
                </th>
                <th uiDataTableOrderBy (click)="toggleOrderBy('cliente')">
                    Cliente
                </th>
                <th uiDataTableOrderBy (click)="toggleOrderBy('dataReserva')">
                    Data da reserva
                </th>
                <th uiDataTableOrderBy (click)="toggleOrderBy('dataEmprestimo')">
                    Data do empréstimo
                </th>
                <th uiDataTableOrderBy (click)="toggleOrderBy('dataDevolucao')">
                    Data da devolução
                </th>
                <th uiDataTableOrderBy (click)="toggleOrderBy('status')">
                    Status
                </th>
                <th>
                </th>
            </tr>
            <tr *ngFor="let livro of emprestimos">
                <td data-title="Título" [class.empty]="!livro.livro">
                    <span class="ellipsis">
                    {{livro.livro}}
                    </span>
                </td>
                <td data-title="Cliente" [class.empty]="!livro.nomeCliente">
                    <span class="ellipsis">
                    {{livro.nomeCliente}}
                    </span>
                </td>
                <td data-title="Data da reserva" [class.empty]="!livro.dataReserva">
                    {{livro.dataReserva | date : 'shortDate'}}
                </td>
                <td data-title="Data do empréstimo" [class.empty]="!livro.dataEmprestimo">
                    {{livro.dataEmprestimo | date : 'shortDate'}}
                </td>
                <td data-title="Data da devolução" [class.empty]="!livro.dataDevolucao">
                    {{livro.dataDevolucao | date : 'shortDate'}}
                </td>
                <td data-title="Status" [class.empty]="!livro.status">
                    {{livro.status}}
                </td>
                <td class="align-right">
                    <button class="ui-button icon flat" uiRipple (click)="alterarStatusItem = livro"
                            [uiDialogTrigger]="alterarStatusDialog" *ngIf="!livro.dataDevolucao">
                        <ui-progress-radial class="indeterminate" *ngIf="livro.loading"></ui-progress-radial>
                        <i class="material-icons">edit</i>
                    </button>
                </td>
            </tr>
            <tr class="empty" *ngIf="!emprestimos || !emprestimos.length">
                <td colspan="7">{{loading ? 'Carregando...' : 'Nenhum livro encontrado'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="align-right">
                    <div class="ui-button-container align-right">
                        <span class="pagination" *ngIf="lineCount">
                            {{((page - 1) * 10) + 1}}-{{page * 10 < lineCount ? page * 10 :
                            lineCount}} de {{lineCount}}
                        </span>
                        <button class="ui-button flat icon" uiRipple [disabled]="page < 2"
                                (click)="page = page - 1; getEmprestimos();">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <button class="ui-button flat icon" uiRipple [disabled]="lineCount < this.page * 10"
                                (click)="page = page + 1; getEmprestimos();">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>
</div>

<ui-dialog #alterarStatusDialog card-size="600">
    <ui-card-title>Empréstimo</ui-card-title>
    <ui-card-content>
        <p>
            <strong style="display: block">Livro:</strong>
            <span>{{alterarStatusItem.livro}}</span>
        </p>
        <p>
            <strong style="display: block">Cliente:</strong>
            <span>{{alterarStatusItem.nomeCliente}}</span>
        </p>
        <p>
            <strong style="display: block">Data da reserva:</strong>
            <span>{{alterarStatusItem.dataReserva | date : 'shortDate'}}</span>
        </p>
        <p *ngIf="alterarStatusItem.dataEmprestimo">
            <strong style="display: block">Data do empréstimo:</strong>
            <span>{{alterarStatusItem.dataEmprestimo | date : 'shortDate'}}</span>
        </p>
        <p *ngIf="alterarStatusItem.dataDevolucao">
            <strong style="display: block">Data da devolução:</strong>
            <span>{{alterarStatusItem.dataDevolucao | date : 'shortDate'}}</span>
        </p>
    </ui-card-content>
    <div class="ui-button-container cover">
        <button class="ui-button flat" uiRipple (click)="alterarStatusDialog.close()">Fechar</button>
        <button class="ui-button error" uiRipple (click)="alterarStatusDialog.close(); cancelReserva()"
                *ngIf="!alterarStatusItem.dataEmprestimo && !alterarStatusItem.dataDevolucao">Cancelar reserva</button>
        <button class="ui-button success" uiRipple (click)="alterarStatusDialog.close(); markAsEmprestado()"
                *ngIf="!alterarStatusItem.dataEmprestimo && !alterarStatusItem.dataDevolucao">Marcar como
            emprestado
        </button>
        <button class="ui-button success" uiRipple (click)="alterarStatusDialog.close(); markAsDevolvido()"
                *ngIf="alterarStatusItem.dataEmprestimo && !alterarStatusItem.dataDevolucao">Marcar como devolvido
        </button>
    </div>
</ui-dialog>
